.container {
    background-color: rgb(131, 165, 144);
    color: #fff;
    padding: 30px 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.items div {
    padding: 70px 20px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    min-width: 200px;
    scroll-snap-align: start;
}

.items {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}